<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<header th:replace="frag/nav::nav">
</header>
<div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/home/slide1.jpg" th:src="@{images/home/slide1.jpg}" alt="slide1" width="100%"
                     height="600">
            </div>
            <div class="carousel-item">
                <img src="../static/images/home/slide2.jpg" th:src="@{images/home/slide2.jpg}" alt="slide2" width="100%"
                     height="600">
            </div>
            <div class="carousel-item">
                <img src="../static/images/home/slide3.jpg" th:src="@{images/home/slide3.jpg}" alt="slide3" width="100%"
                     height="600">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


    <div class="jumbotron jumbotron-fluid bg-light">
        <h1 class="display-3 text-center">Welcome To Shop</h1>
        <p class="lead text-center">Buy your product easily and enjoy</p><br><br><br><br>
        <div class="container">
            <ul class="nav nav-tabs nav-fill" role="taglist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#step1">Register First</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#step2">Then Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#step3">Enjoy</a>
                </li>
            </ul>
            <br><br>
            <div class="tab-content">
                <div id="step1" class="container active tab-pane">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-thumbnail" src="../static/images/home/middle1.jpg"
                                 th:src="@{/images/home/middle1.jpg}"
                                 style="width: 450px;height: 500px"/>
                        </div>
                        <div class="col-sm-6">
                            <p class="h4">Become a member</p>
                            <p>But I must explain to you how all this mistaken idea
                                of denouncing pleasure and praising pain was born and
                                I will give you a complete account of the system, and
                                expound the actual teachings of the great explorer of the
                                truth, the master-builder of human happiness. No one rejects,
                                dislikes, or avoids pleasure itself, because it is pleasure,
                                but because those who do not know how to pursue pleasure rationally
                                encounter consequences that are extremely painful. Nor again is
                                there anyone who loves or pursues or desires to obtain pain </p>

                            <p>I will give you a complete account of the system, and
                                expound the actual teachings of the great explorer of the
                                truth, the master-builder of human happiness. No one rejects,
                                dislikes, or avoids pleasure itself, because it is pleasure,
                                but because those who do not know how to pursue pleasure rationally</p>
                            <a href="/register" class="btn btn-success">Register</a>
                        </div>
                    </div>
                </div>
                <div id="step2" class="container fade tab-pane">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="h4">Become a member</p>
                            <p>But I must explain to you how all this mistaken idea
                                of denouncing pleasure and praising pain was born and
                                I will give you a complete account of the system, and
                                expound the actual teachings of the great explorer of the
                                truth, the master-builder of human happiness. No one rejects,
                                dislikes, or avoids pleasure itself, because it is pleasure,
                                but because those who do not know how to pursue pleasure rationally
                                encounter consequences that are extremely painful. Nor again is
                                there anyone who loves or pursues or desires to obtain pain </p>

                            <p>I will give you a complete account of the system, and
                                expound the actual teachings of the great explorer of the
                                truth, the master-builder of human happiness. No one rejects,
                                dislikes, or avoids pleasure itself, because it is pleasure,
                                but because those who do not know how to pursue pleasure rationally</p>
                            <a href="/login" class="btn btn-danger">Login Now</a>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-thumbnail" src="../static/images/home/middle2.jpg"
                                 th:src="@{/images/home/middle2.jpg}"
                                 style="width: 450px;height: 500px"/>
                        </div>
                    </div>
                </div>
                <div id="step3" class="container fade tab-pane">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-thumbnail" src="../static/images/home/middle3.jpg"
                                 th:src="@{/images/home/middle3.jpg}"
                                 style="width: 450px;height: 500px"/>
                        </div>
                        <div class="col-sm-6">
                            <p class="h4">Become a member</p>
                            <p>But I must explain to you how all this mistaken idea
                                of denouncing pleasure and praising pain was born and
                                <br>
                                encounter consequences that are extremely painful. Nor again is
                                there anyone who loves or pursues or desires to obtain pain </p>

                            <p>I will give you a complete account of the system, and
                                expound the actual teachings of the great explorer of the
                                truth, the master-builder of human happiness. No one rejects,
                                dislikes, or avoids pleasure itself, because it is pleasure,
                                but because those who do not know how to pursue pleasure rationally</p>
                            <a href="/books" class="btn btn-info">Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr class="h-25">
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../static/images/main1.png"
                 th:src="@{/images/main1.png}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Java 9</h5>
                <p class="card-text">Learn Java 9 new Features</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../static/images/main2.png"
                 th:src="@{/images/main2.png}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Spring 5</h5>
                <p class="card-text">Learn Spring 5 crash course </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../static/images/main3.png"
                 th:src="@{/images/main3.png}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Spring boot</h5>
                <p class="card-text">Spring boot complete course</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <br><br><br><br>

</div>
<header th:replace="frag/footer::footer">
</header>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>