<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>



<div class="container">
    <header th:replace="frag/nav::nav">
    </header><br><br><br>
    <p class="h3">List Of Books</p>
    <hr class="h-25">
    <p class="text-info">you can add your product to you cart.just select add</p>
    <div class="row">
        <div class="col-sm-3" th:each="book: ${books}">

            <div class="card">
                <img th:src="@{'data:image/jpeg;base64,'+${book.picBase64}}" class="img-fluid card-img-top  img-thumbnail rounded"  style="height: 220px">
                <div class="card-body">
                    <div th:text="${book.bookName}" class="card-title h4">Book Name</div>
                    <div th:text="${'Price: '+book.cost}" class="card-text">Some Information
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" th:href="${'/cart/add/'+book.bookId}">Add To Cart</a>
                    <a class="btn btn-danger"
                       th:href="${'/deleteBook/'+book.bookId}">Delete</a>
                </div>

            </div>
            <hr class="h-25">
        </div>
    </div>


</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>





    <!--<table class="table table-striped">
    <h2 class="text-danger">List Of Book</h2>
    <!--<h5 class="text-info" th:text="${session.orderBook.size()+ ' Item In Your Cart'}"></h5>-->
    <!-- <thead>
     <tr>
         <th>Book Name</th>
         <th>Book Author</th>
         <th>Cost</th>
         <th>Book Picture</th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="book: ${books}">
         <td th:text="${book.bookName}"></td>
         <td th:text="${book.bookAuthor}"></td>
         <td th:text="${book.cost}"></td>
         <td><img class="img-thumbnail" style="width: 100px;height: 120px" th:src="@{'data:image/jpeg;base64,'+${book.picBase64}}"/></td>
         <td><a class="btn btn-info"
                th:href="${'/deleteBook/'+book.bookId}">Delete</a></td>
         <td><a class="btn btn-danger" th:href="${'/cart/add/'+book.bookId}">Add To Cart</a></td>
     </tr>
     </tbody>
 </table>-->