<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<header th:replace="frag/nav::nav">
</header><br><br><br>

<div class="container">
    <div th:if="${count eq 0}" class="shadow">
        <br>
        <div class="card-body" style="background-color:  #d2dbd2 ">
            <p class="h4">your cart is empty..  <a href="/books">choose your product</a></p>
        </div>
    </div>
    <br>
    <table th:if="${count ne 0}" class="table table-striped shadow">
        <p class="font-weight-bold h4">Cart</p>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Code</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody th:if="${session.orderBook ne null}">
            <tr th:each="book: ${session.orderBook}">
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.bookCode}"></td>
                <td th:text="${book.cost+' $'}"></td>
                <td><a class="btn btn-outline-primary" th:href="${'/cart/remove/'+book.bookId}">Delete From Cart</a></td>
            </tr>
        </tbody>
    </table>
    <div class="card w-25" th:if="${total ne 0}">
        <div class="card-body">
            <div class="card-text">
                <span class="font-weight-bold h5 text-primary" th:text="${'Numbers: '+count}"></span>
            </div>
            <div class="card-text">
                <span class="font-weight-bold h5 text-primary" th:text="${'Total Price: '+total+' $'}"></span>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Pay It Now</a>
        </div>
    </div>

</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>